
*.v2
*.vsidx
*.vsidx
*.v2
.vs/Bioscoop/v17/.suo
*.2
*.dll
*.json
*.props
*.cache
*.pdb
*.editorconfig
*.json
*.cache
*.dll
*.pdb
Bioscoop.Test/bin/Debug/net7.0/CoverletSourceRootsMapping
/.vs/Bioscoop/DesignTimeBuild/.dtbcache.v2
/Bioscoop.Api/obj/Debug/net7.0/Bioscoop.Api.csproj.AssemblyReference.cache
/.vs/Bioscoop/v17/.suo
/.vs/slnx.sqlite
/Bioscoop.Api/obj/Debug/net7.0/Bioscoop.Api.genruntimeconfig.cache
/Bioscoop.Test/obj/Debug/net7.0/Bioscoop.Test.csproj.AssemblyReference.cache
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/Bioscoop.Web.dll
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/Bioscoop.Web.dll.gz
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/Bioscoop.Web.pdb
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/Bioscoop.Web.pdb.gz
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/blazor.boot.json
*.gz
/Bioscoop.Web/bin/Debug/net7.0/wwwroot/_framework/System.Security.Cryptography.dll.gz
/Bioscoop.Web/bin/Debug/net7.0/Bioscoop.Web.dll
/Bioscoop.Web/bin/Debug/net7.0/Bioscoop.Web.pdb
/Bioscoop.Web/obj/Debug/net7.0/build-gz/IfcxmX+Z.gz
/Bioscoop.Web/obj/Debug/net7.0/build-gz/ou6+G+R1.gz
/Bioscoop.Web/obj/Debug/net7.0/ref/Bioscoop.Web.dll
/Bioscoop.Web/obj/Debug/net7.0/refint/Bioscoop.Web.dll
*.css
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.assets.cache
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.csproj.AssemblyReference.cache
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.dll
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.csproj.CoreCompileInputs.cache
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.GeneratedMSBuildEditorConfig.editorconfig
/Bioscoop.Web/obj/Debug/net7.0/blazor.boot.json
/Bioscoop.Web/obj/Debug/net7.0/project.razor.vs.json
/Bioscoop.Web/obj/Debug/net7.0/Bioscoop.Web.pdb
