################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bioscoop/FileContentIndex
/Bioscoop.Web
/.vs/slnx.sqlite
/Bioscoop.Api/obj/Debug/net7.0/project.razor.vs.json
