
*.config
*.v2
*.vsidx
*.vsidx
*.lock
.vs/Bioscoop/v17/.suo
.vs/Bioscoop/v17/.futdcache.v2
.vs/Bioscoop/v17/.suo
*.testlog
*.manifest
*.2
*.2
*.json
*.dll
*.exe
*.user
*.targets
*.cs
Bioscoop.Api/obj/Debug/net7.0/_IsIncrementalBuild
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.props
Bioscoop.Models/obj/Debug/net7.0/_IsIncrementalBuild
Bioscoop.Test/obj/Debug/net7.0/_IsIncrementalBuild
*.gz
*.dll
*.dat
*.blat
*.js
*.wasm
Bioscoop.Web/obj/Debug/net7.0/_IsIncrementalBuild
*.pdb
.vs/Bioscoop/DesignTimeBuild/.dtbcache.v2
*.vsidx
.vs/Bioscoop/FileContentIndex/5d5412ec-eff9-4455-8719-92a785b9a716.vsidx
