@page "/"
@inherits BiglistBase


@if(Shows == null)
{
    <h3>Loading Movies...</h3>
    <DisplaySpinner></DisplaySpinner>
}
else
{
    <h3 class="mb-lg-2">Show Overview</h3>

    var showCount = Shows.Count();


    @if (showCount > 0)
    {
        const int itemsPerRow = 6;
        var showListing = new List<ShowDto>();


        @for (int i = 0; i < showCount; i++)
        {
            showRowListing = Shows.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class=" col mb-2">
                    <div class="card">
                     <DisplayShows ShowsList = "@showCount"></DisplayShows>
                    </div>
            </div>
        }
    }

}
