@page "/"
@inherits BiglistBase


@if(Shows == null)
{
    <h3>Loading Movies...</h3>
    <DisplaySpinner></DisplaySpinner>
}
else if (Shows.Count() >0)
{
    <h3 class="mb-lg-2">Shows for today @DateOnly.FromDateTime(DateTime.Now)</h3>

    var showCount = Shows.Count();


    @if (showCount > 0)
    {
        
        var showListing = new List<ShowDto>();


        @for (int i = 0; i < showCount; i++)
        {
           

            <div class=" col mb-2">
                    <div class="card">
                     <DisplayShows showListing = "@showCount"></DisplayShows>
                    </div>
            </div>
        }
    }

}
