@inherits Bioscoop.Web.Pages.DisplayMoviesBase

@foreach (var movie in Movies)
{
    <div class="col-md-3 mb-2">
        <a href="/MovieDetails/@movie.Id">
            <div class="card">
                <img class="img-thumbnail" src="@movie.ImageURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @movie.Title
                    </h5>
                    <p class="card-text">
                        <b>Playtime: @movie.PlayTime minutes</b>
                        <br>
                        <b>Minimum age: @movie.MinimumAge</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}