<Button Name="facebook-button" Width="50" Height="30" Click="OnClickFacebook">
  <Image Source="data\flower.jpg"></Image>
</Button>
<Button Name="twitter-button" Width="50" Height="30" Click="OnClickTwitter">
  <Image Source="data\flower.jpg"></Image>
</Button>
<Button Name="instagram-button" Width="50" Height="30" Click="OnClickInstageram">
  <Image Source="data\flower.jpg"></Image>
</Button>