@page "/"
@using Bioscoop.Models.Dtos;
@inherits MoviesBase

@if(Movies == null)
{
    <h3>Loading movies...</h3>
}
else
{
    <h3 class="mb-5">Movies</h3>

    <input @oninput="Search" placeholder="Search..." class="p-3" />

    var movieCount = Movies.Count();

    if (movieCount > 0)
    {
        const int moviesPerRow = 4;
        var movieRowList = new List<ShowDto>();

        for (int i = 0; i < movieCount; i++)
        {
            movieRowList = Movies.Skip(i * moviesPerRow).Take(moviesPerRow).ToList();

            <div class = "row mt-3">
               <DisplayMovies Movies = "@movieRowList"></DisplayMovies>
            </div>
        }
    }
}

@code {
    private void Search(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        var searchTerm = (string)args.Value;
        Movies = Movies.Where(x => x.MovieTitle.Contains(searchTerm));
        StateHasChanged();
    }
}