a {
    text-decoration: none;
}

.filter-item {
    display: inline-block;
}

input[type="text"] {
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 2px;
    font-size: 16px;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px rgba(58, 6, 71, 1);
    border: 2px solid rgba(58, 6, 71, 0.5);

}

input::placeholder {
    color: #95a5a6;
}

select {
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 2px;
    color: #95a5a6;
}

select:focus {
    box-shadow: 0 0 10px rgba(58, 6, 71, 1);
    border: 2px solid rgba(58, 6, 71, 0.5);
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 2px;
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
    color: #95a5a6;
}

input[type="date"]:focus {
    box-shadow: 0 0 10px rgba(58, 6, 71, 1);
    border: 2px solid rgba(58, 6, 71, 0.5);
    outline: none;
}

.button {
    align-items: center;
    appearance: none;
    background-color: rgba(17, 32, 96, 0.5);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.button:hover {
    background: rgba(58, 6, 71, 0.5);
    color: white;
}

.button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-clear {
    align-items: center;
    appearance: none;
    background-color: rgba(58, 6, 71, 0.5);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

    .button-clear:hover {
        background: rgba(17, 32, 96, 0.5);
        color: white;
    }

    .button-clear:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
    }

    .button-clear:focus {
        outline: none;
        border: 2px solid #4285f4;
    }

    .button-clear:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

        .button-clear:not(:disabled):hover {
            box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
        }

        .button-clear:not(:disabled):focus {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

        .button-clear:not(:disabled):active {
            box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
        }

    .button-clear:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}