@page "/ShowsAll"
@inherits ShowsAllBase

@if (Shows == null && ErrorMessage == null)
{
    <DisplaySpinner />
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{ // button to ShowsToday page
    <h1 class="mb-5">Shows this week</h1>
    <a href="/">
    <button class="btn btn-success">
        <b>Shows today</b>
    </button>
    </a>

    // sort list on StartDateTime
    var showListSorted = Shows.OrderBy(x => x.StartDateTime);

    var showCount = Shows.Count();

    @if (showCount > 0)
    {
        const int showsPerRow = 4;
        var showRowList = new List<ShowDto>();

        @for (int i = 0; i < showCount; i++)
        {
            showRowList = showListSorted.Skip(i * showsPerRow).Take(showsPerRow).ToList();

            // gets info from DisplayShows.razor
            <div class=" row mt-3">
                
                <DisplayShows Shows="@showRowList"></DisplayShows>

            </div>
        }
    }

}